    {{template "header" .}}

    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette">
            <img class="featurette-image img-circle img-responsive pull-right" width="350px" src="{{.Logo}}">
            <h2 class="featurette-heading">
            {{if .Name}}
                {{.Name}}
                <span class="text-muted"></span>
      
                </h2>
                <p class="lead">{{.Description}}</p>
                <p class="lead">Docker Image: {{.DockerImage}}<br>
                    Dependencies:  {{range .Dependencies}}
                        {{.Dependency}} <br>
                    {{end}}
                    Environment Variables: {{range .EnvironmentVariables}}
                        {{.Key}}:{{.Value}} <br>
                    {{end}}<br>
                    Internal Port :  {{.InternalPort}} <br>
                    Protocol: {{.Protocol}}
                    </p>
                    
                    <p><form action="/apps/app/{{.Name}}/launch" method="post" id="form1">
                        <button type="submit" class="btn btn-primary"form="form1" value="Submit">Launch Application</button>
                        </form></p>
            {{else}}
                Application Not Found!
                </h2>
            {{end}}

        </div>

        <!-- Footer -->
        {{template "footer"}}

    </div>