    {{template "header" .User}}

    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette">
        {{if .Name}}
        <table style="margin:0 auto;">
        <col width="45%">
            <tr>
                <td>
            <img class="featurette-image img-circle img-responsive pull-right" height="400px" src="{{.Logo}}">
                </td>
                <td>
                    <h2 class="featurette-heading">
                    
                        {{.Name}}
                        <span class="text-muted"></span>
              
                        </h2>
                        <p class="lead">{{.Description}}</p>
                        <p class="lead">Docker Image: {{.DockerImage}}<br>
                            Dependencies:  {{range .Dependencies}}
                                {{.Dependency}} <br>
                            {{end}}
                            Environment Variables: {{range .EnvironmentVariables}}
                                {{.Key}}:{{.Value}} <br>
                            {{end}}<br>
                            Internal Port :  {{.InternalPort}} <br>
                            Protocol: {{.Protocol}}
                            </p>
                            
                            <p>
                                <form action="/apps/app/{{.Name}}/launch" method="post" id="form1">
                                    <button type="submit" class="btn btn-primary"form="form1" value="Submit">Launch Application</button>
                                </form>
                            </p>

                            {{if eq .User.Role "admin"}}
                                <p>
                                    <form action="/apps/app/{{.Name}}/edit" method="get" id="editbutton">
                                        <button type="submit" class="btn btn-primary"form="editbutton" value="Submit">Edit Application</button>
                                    </form>
                                </p>
                                <p>
                                    <form action="/apps/app/{{.Name}}/delete" method="get" id="deletebutton">
                                        <button type="submit" class="btn btn-danger"form="deletebutton" value="Submit">Delete Application</button><br>
                                        <small>This process is irreversible.</small>
                                    </form>
                                </p>
                            {{end}}

                </td>
            </tr>
        </table>
        {{else}}
            Application Not Found!
        {{end}}
        </div>

        <!-- Footer -->
        

    </div>
    {{template "footer"}}