    {{template "header" .User}}

    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette">
            <img class="featurette-image img-circle img-responsive pull-right" src="{{.Logo}}">
            <h2 class="featurette-heading"> Application Launched</h2>

            <p> Your application will be available soon. <br>
            Go to <a href="/user/profile"> your profile to check. </a>
            </p>
            <p>
            {{if .Name}}
                {{.Name}}
                <span class="text-muted"></span>
      
                </h2>
                <p class="lead">{{.Description}}</p>
                <p class="lead">Docker Image: {{.DockerImage}}<br>
                    Dependencies:  {{range .Dependencies}}
                        {{.Dependency}} <br>
                    {{end}}
                    Environment Variables: {{range .EnvironmentVariables}}
                        {{.Key}}:{{.Value}} <br>
                    {{end}}<br>
                    Internal Port :  {{.InternalPort}} <br>
                    Protocol: {{.Protocol}}
                    </p>
            {{else}}
                Application Not Found!
                </h2>
            {{end}} 
            </p>

        </div>

        <!-- Footer -->
        {{template "footer"}}

    </div>