    {{template "apps/header" (index . 0).User}}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Application List
                    
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->                    
         
        {{range $index, $element := .}}
            {{if eq (mod $index 4) 0}}
                <div class="row">
            {{end}}
                    <div class="col-md-3 portfolio-item">
                    <table style="width:100%; height:300px;">

                        <tr>
                            <td>
                                <a href="/apps/app/{{.Name}}"><img class="img-responsive" src="{{.Logo}}" alt="{{.Name}}"/></a>
                            </td>
                        </tr>
                    </table>

                    </div>

            {{if eq (mod $index 4) 3}}
                </div>
            {{end}}


        {{end}}
        <!-- /.row -->

  
    </div>
      {{template "footer"}}
    <!-- /.container -->
