    {{template "apps/header" (index . 0).User}}

    <!-- Page Content -->
    <div class="container">
        <div class="featurette">
            <h3 class="featurette-heading"> Create Application </h3><br>
                    <a href="/admin/newapp"> Click here </a>
        </div>
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Running Application List
                  

                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
         
        {{range $index, $element := .}}
            {{if eq (mod $index 4) 0}}
                <div class="row">
            {{end}}
                {{if ne .Name ""}}
                    <div class="col-md-3 portfolio-item">
                    <table style="width:100%">
                        <tr>
                            <td>
                            {{.Name}}<br>
                                {{if eq .IsRunning true}}
                                <a href="http://{{.AccessUrl}}">Access Here!</a><br>
                                {{else}}
                                <a href="#">Application Still Launching!</a><br>
                                {{end}}
                                <br>
                                <a href="/user/apps/deleteapp/{{.Name}}"><img src="/images/trashicon.png" style="width:25px; height:25px;" alt="trash" /></a>
                            </td>
                            <td style="text-align:right">
                                <img style="width:100px; height:100px;" src="{{.Logo}}" alt="Logo not found"/>
                            </td>
                        </tr>
                    </table>

                    </div>
                 {{end}}

            {{if eq (mod $index 4) 3}}
                </div>
            {{end}}


        {{end}}
        <!-- /.row -->

  
    </div>
      {{template "footer"}}