<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="Clouds Store">
	<meta name="author" content="Klouds.org">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- SITE TITLE -->
	<title>Klouds</title>

	<!-- =========================
          FAV AND TOUCH ICONS
    ============================== -->
	<link rel="icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

	<!-- =========================
         STYLESHEETS
    ============================== -->

	<!-- WEB FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet'
		  type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>
	<!-- CUSTOM STYLESHEETS -->
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/style-user.css">
	<!-- DEFAULT COLOR/ CURRENTLY USING -->

	<!-- RESPONSIVE FIXES -->
	<link rel="stylesheet" href="/css/responsive.css">
	<script src="/js/modernizr.js"></script>
	<!--[if lte IE 7]>
	<script src="/static/fonts/elegant-icons/lte-ie7.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
	<script src="/static/js/html5shiv.js"></script>
	<script src="/static/js/respond.min.js"></script>
	<![endif]-->


</head>

<body>
<!-- =========================
     PRE LOADER
============================== -->
<!-- <div class="preloader">
	<div class="status">&nbsp;</div>
</div> -->

<!-- =========================
     HEADER
============================== -->
<header class="header" data-stellar-background-ratio="0.5" id="home">
	{{template "menu" .}}
	
</header>
<!-- /END HEADER -->
