
{{ template "header" .}}
<!-- Full Width Image Header -->
<header class="header-image">
    <div class="headline">
        <div class="container"><br><br>
            <h1>Klouds.io</h1>
            <h2>Application Hosting Made Easy</h2>
        </div>
    </div>
</header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <h2 class="featurette-heading">Here's how it works
                <span class="text-muted"></span>
            </h2>
            <iframe width="854" height="480" src="https://www.youtube.com/embed/ccto4tqhXZA" frameborder="0" allowfullscreen></iframe>
            <small>Oh, and I got the wordpress working. Look <a target="_blank" href="http://ozzadar-7bl8oec5-wordpress.klouds.org/">here</a></small>
        </div>

        
        <!-- Footer -->
        {{template "footer"}}

    </div>
