
{{ template "header" .}}
<!-- Full Width Image Header -->


    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <h2 class="featurette-heading">Marathon backend disconnected.</h2>



        <!-- Footer -->
        {{template "footer"}}

    </div>
