<!-- STICKY NAVIGATION -->
<div class="navbar navbar-inverse bs-docs-nav  sticky-navigation">
    <div class="container">
        <div class="navbar-header">

            <!-- LOGO ON STICKY NAV BAR -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">
                <img src="/images/logo.png" alt="">

                <p class="font-common">speed up everything</p>
            </a>

        </div>

        <!-- NAVIGATION LINKS -->
        <div class="navbar-collapse collapse" id="main-navigation">
            <ul class="nav navbar-nav navbar-right main-navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/apps">Applications</a></li>
                <li><a href="/#app1">Why Us?</a></li>
                <li><a href="/#app2">Desicribe</a></li>
                <li><a href="/#services">Services</a></li>
                <li><a href="/#contact">Contact</a></li>
                {{if .Username }}
                <li><a href="/user/profile">Profile</a></li>
                {{else}}
                <li><a data-toggle="modal" data-target="#loginForm" href="/user/login">Login</a></li>
                <li><a data-toggle="modal" data-target="#registerForm" href="/user/register">Register</a></li>
                {{end}}
                {{if .Username }}
                    {{if eq .Role "admin"}}
                        <li>
                            <a href="/admin">Admin</a>
                        </li>
                    {{end}}
                {{end}}
            </ul>
        </div>
    </div>
    <!-- /END CONTAINER -->
</div>
<!-- /END STICKY NAVIGATION -->
