@import "bootstrap.min.css";
@import "../fonts/elegant-icons/elegant-icons.css";
@import "../fonts/font-awesome/css/font-awesome.min.css";

@import "owl.carousel.css";
@import "owl.theme.css";
@import "nivo-lightbox.css";
@import "nivo_themes/default/default.css";
@import "animate.min.css";
/* --------------------------------------
=========================================
GLOBAL STYLES
=========================================
-----------------------------------------*/

html {
    font-size: 100%;
}

body {

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #c8c8c8;
    line-height: 28px;
    text-align: center;
    overflow-x: hidden !important;
    margin: auto !important;
}

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a {
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

a:hover {
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: inherit;
}


/* Other fixes*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul,
ol {
    padding-left: 0 !important;
}

li {
    list-style: none;
}

/* PRE LOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}

/* COLORLIST **/
.color-first {
    color: #ff9800

}

.color-first {
    color: #ff9800

}

.color-first {
    color: #ff9800

}

.color-first {
    color: #ff9800

}

.color-first {
    color: #ff9800

}

/*---------------------------------------
   Typography                
-----------------------------------------*/

/* FONT FACE LOADER */
@font-face {
    font-family: 'Lane';
    src: url('../fonts/lanenar_Lane.eot');
    src: url('../fonts/lanenar_Lane.eot?#iefix') format('embedded-opentype'), url('../fonts/lanenar_Lane.woff') format('woff'), url('../fonts/lanenar_Lane.ttf') format('truetype'), url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

    @font-face {
        font-family: 'Lane';
        src: url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    }
}
.font-alter{
    font-family: 'Aclonica', sans-serif;
}
.font-common {
    font-size: 11px;
    color: #fff;
    font-family: 'Roboto',sans-serif;
}
/* HEADINGS */

h1,
h2 {
    font-family: 'Lane', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3.75rem;
    line-height: 4.688rem;
}

h2 {
    font-size: 3.125rem;
    line-height: 4.063rem;
}

h3 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}

/*---------------------------------------
   CUSTOM BUTTON              
-----------------------------------------*/

.standard-button,
.standard-button2 {
    font-size: 18px;
    font-weight: 400 !important;
    border-radius: 4px !important;
    text-shadow: 0 !important;
    color: #ffffff;
    min-width: 150px;
    border: none;
    padding: 16px 25px 16px 25px;
    margin: 5px;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

.standard-button:hover,
.standard-button2:hover {
    border: none;
}

.standard-button i,
.standard-button2 i {
    vertical-align: inherit;
    margin-right: 8px;
    font-size: 20px;
}

/*---------------------------------------
   TEXTS AND BG               
-----------------------------------------*/

.white-text {
    color: #ffffff;
}

.dark-text {
    color: #212121;
}

.deep-dark-bg {
    background: #212121 !important;
}
.big-text{
    font-size:48px;
}

/*---------------------------------------
   SECTIONS          
-----------------------------------------*/

.section-header {
    padding-bottom: 78px;
}

.section-header h2 {
    margin-bottom: 20px;
    margin-top: 80px
}

.section-header .section-description {
    display: inline-block;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*---------------------------------------
   LINES          
-----------------------------------------*/

.line {
    margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
}

.white-line {
    margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
    background: #ffffff;
}

.line-left {
    float: left;
    z-index: 1;
    display: block;
    width: 165px;
    height: 1px;
}

/*---------------------------------------
=========================================
 **   SECTION STYLES                
=========================================
-----------------------------------------*/

/*---------------------------------------
   SECTION:  HOME                 
-----------------------------------------*/

header {
    background: #fff;
    -webkit-background-size: cover;
    background-size: cover;
}

header .main-content {
    min-height: 900px;
}

header .full-screen {
    width: 100%;
    height: 100px;
}

header .icon.brand {
    border-radius: 50%;
    line-height: 55px;
    font-size: 55px;
    text-align: center;
    -webkit-transition: all ease-in 0.25s;
    transition: all ease-in 0.25s;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #fff;
}

/* TOP BAR WITH NAVIGATION */

.sticky-navigation {
    min-height: 64px;
    background: #1565c0;
    border: none;
    padding: 0 !important;
    margin-bottom: 0 !important;
    -webkit-backface-visibility: hidden;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
}

.sticky-navigation .navbar-header img {
    max-height: 30px;
    -webkit-backface-visibility: hidden;
}

.sticky-navigation .main-navigation .current a {
    color: #00e5ff;
    position: relative;
    outline: none;
}

.sticky-navigation .main-navigation li a {
    line-height: 30px;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
}

header .only-logo .navbar {
    background: none;
    padding: 60px;
}

header .only-logo .navbar .navbar-header {
    float: none;
}

/* INTRO */

header .intro-section {
    margin: auto;
    padding-top: 15%;
}

header .intro-section .intro {
    color: #212121;
    margin-bottom: 36px;
}

header .intro-section h5 {
    color: #212121;
}

header .intro-section .buttons {
    margin-top: 35px;
}

/*---------------------------------------
   SECTION:  FEATURES                 
-----------------------------------------*/

.features {
    background: url('../images/bg-4.jpg') no-repeat center top;
    color: #fff;

}

.features .features-left {
    text-align: right;
    margin-top: 26px;
    margin-bottom: 80px;
}

.features .features-left .icon-container {
    float: right;
    margin-left: 20px;
}

.features .features-right {
    text-align: left;
    margin-top: 26px;
    margin-bottom: 80px;
}

.features .features-right .icon-container {
    float: left;
    margin-right: 20px;
}

.features .feature {
    margin-bottom: 40px;
}

.features .feature .icon-container {
    display: block;
    min-height: 120px;
    margin-top: 5px;
}

.features .feature .icon-container .icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    line-height: 55px;
    font-size: 18px;
    text-align: center;
    -webkit-transition: all ease-in 0.25s;
    transition: all ease-in 0.25s;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.features .text-image {
    max-width: 250px;
    margin: auto;
    margin-bottom: 80px;
}

.features .text-image img {
    width: 100%;
}
.features .tlt{
    position: absolute;
    top: 200px;
    text-shadow: 2px 2px #474747;
}
/*---------------------------------------
   SECTION:  APP                 
-----------------------------------------*/

.app {
    padding-top: 110px;
    padding-bottom: 60px;
    background:#fff;
}

.app h2 {
    margin-bottom: 20px;
}

.app .phone-image {
    margin: auto;
    margin-bottom: 50px;
}

.app .phone-image img {
    width: 100%;
}

.app .left-align {
    text-align: left;
    margin-bottom: 50px;
}

.app .left-align p {
    display: block;
    float: none;
    margin-top: 50px;
}

.app .left-align .feature-list {
    margin-top: 40px;
}

.app .left-align .feature-list li {
    margin-bottom: 26px;
}

.app .left-align .feature-list li i {
    margin-right: 10px;
    vertical-align: inherit;
}

/* VIDEO */

video {
    max-width: 100%;
    height: auto;
}

iframe,
embed,
object {
    max-width: 100%;
}

.video-container {
    width: 90%;
    background: transparent !important;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40px;
}

.video-container .video {
    background: transparent !important;
    margin-top:20px;
}



/*---------------------------------------
   SECTION:  TESTIMONIALS                 
-----------------------------------------*/
.testimonials {
    background: url(../images/bg-2.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    color: #ffffff;
}

.testimonials .color-overlay {
    padding-top: 110px;
    padding-bottom: 110px;
}

.testimonials .feedback .message {
    font-size: 18px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 30px;
}

.testimonials .feedback .name {
    margin-top: 15px;
    font-weight: 400;
}

.testimonials .feedback .company-info {
    font-size: 12px;
}

.testimonials .owl-theme .owl-controls .owl-page span {
    background: #ffffff;
    border-radius: 50%;
}

.testimonials .customNavigation a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*---------------------------------------
   SECTION:  SERVICES           
-----------------------------------------*/

.services {
    padding-top: 80px;
    padding-bottom: 60px;
    background: #fff;
}

.services .single-service {
    padding-bottom: 60px;
}

.services .single-service .service-icon {
    font-size: 80px;
}

.services .single-service h3 {
    margin-top: 20px;
}


/*---------------------------------------
   SECTION:  FOOTER                
-----------------------------------------*/

footer .map iframe{
    border: 0;
    padding: 0;
    position: absolute;
    left: 0;
    z-index: -1;
    min-height: 550px;
}
footer .contact-box {
    margin-bottom: 78px;
}

footer .contact-box .contact-button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    font-size: 30px;
    line-height: 60px;
    vertical-align: middle;
    margin-top: -40px;
    -webkit-backface-visibility: hidden;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

footer .contact-box .contact-button:hover {
    color: #ffffff;
}

footer .contact-box .expanded-contact-form {
    margin-top: 40px;
    display: none;
}

footer .contact-box .expanded-contact-form .success,
footer .contact-box .expanded-contact-form .error {
    display: none;
}

footer .contact-box .expanded-contact-form .input-box {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

footer .contact-box .expanded-contact-form .textarea-box {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;

}

footer .contact-box .expanded-contact-form .textarea-box:active,
footer .contact-box .expanded-contact-form .textarea-box:focus, {
    color: #FFF;
}

footer .social-icons {
    margin-top: 30px;
    padding-bottom: 50px;
}

footer .social-icons li {
    display: inline-block;
    margin: 5px;
}

footer .social-icons li a {
    font-size: 30px;
    color: #636363;
}

footer .copyright {
    color: #808080;
    padding-top: 10px;
    margin-bottom: 50px;
}


/* --------------------------------------
=========================================
COLOR
=========================================
----------------------------------------- */

.color-overlay {
    background: rgba(0, 0, 0, 0.55);
}

.standard-button {
    background: #1565c0;
}

.standard-button2 {
    background: #1565c0;
}

.standard-button2:hover {
    background: #005885;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background: #005885;
    border-color: inherit;
}

.line,
.line-left {
    background: #1565c0;
}

.main-color {
    color: #1565c0;
}
.color-bg-light {
    background: #1784c7;
}

.color-bg {
    background: #1565c0;
    color: #FFFFFF;
}

.features .feature:hover .icon-container .icon {
    background: #1565c0;
    color: #ffffff;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0px 0px 0px 2px #1565c0;
    box-shadow: 0px 0px 0px 2px #1565c0;
}

.features .feature .icon-container .icon {
    border: 1px solid #1565c0;
    color: #1565c0;
}

.feature-list li i {
    color: #1565c0;
}

.services .single-service .service-icon,
.services .single-service h3 {
    color: #1565c0;
}

.screenshots .owl-theme .owl-controls .owl-page span {
    background: #1565c0;
}

footer .contact-button {
    border: 2px solid #1565c0;
    color: #1565c0;
}

footer .contact-button:hover {
    background: #1565c0;
}

footer .contact-box .expanded-contact-form .input-box:active,
footer .contact-box .expanded-contact-form .textarea-box:active,
footer .contact-box .expanded-contact-form .input-box:focus,
footer .contact-box .expanded-contact-form .textarea-box:focus {
    border: 1px solid #1565c0;
}

footer .social-icons li a:hover {
    color: #1565c0;
}


/*---------------------------------------
   SECTION:   PAGE LOGIN
-----------------------------------------*/
.page-app .user-main-content,
.page-login .user-main-content{
    margin-top: 60px;
}