#user-nav{
    border:none;
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;

}

#user-nav i {
    padding-right: 15px;
}
#user-nav .nav a{
    color:#fff;
    display:block;
    border-right: 1px solid #E8E8E8;
}
#user-nav .nav a:hover{
    color:#1565c0;
    background:#fff;
}
#user-nav .nav a:hover i{
    color: #009688
}
#user-nav .nav li:last-child a{
    border-right:0px solid #E8E8E8;
}
#user-nav .user-logo img{
    width: 175px;
    height: 51px;
}
#user-nav .user-logo {
    float: left;
    background: #fff;
    min-height: 50px;
    display: block;
    margin: 0;
    padding: 0;
    outline: none;
}
#user-nav .user-logo img {
    display: block;
}
#user-nav  #search-form {
    margin-right: 20px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
#user-nav  #search-form .submit{
    background:none;
    border:none;

}
#user-nav  #search-form .submit i {
    color:#fff;
}
#user-nav  #search-form .submit i:hover{
    color:#009688;
}
#user-nav  #search-form input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    background: #fff;
    border: none;
}
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background:none;
    border:none;
}
.navbar-inverse,
.navbar-inverse, .navbar-collapse, .navbar-inverse .navbar-form{
    border:none !important;
}
@media screen and (max-width:1110px){
    #user-nav form{
        display:none;
    }
    #user-nav i {
        padding-right:5px;
        font-size:12px;
    }
    #user-nav .nav li a{
        border-right:0px solid #E8E8E8;
    }
}
