{{template "header"}}
<div class="container">

    <hr class="featurette-divider">

    <!-- First Featurette -->
    <div class="featurette">
	    <h2> Profile </h2>
		<b><i><font color="red">{{.Message}}</font></i></b>
		<form method="POST" action="/user/profile">
		<table>
		 	<col width="40%">
  			<col width="20%">
			<tr>
				<td>
			    	Username:
			    </td>
			    <td>
			    	&nbsp;
			    </td>
			    <td>
			    	{{.Username}}
		    	</td>
			</tr>
			<tr>
		    	<td>
		    		First Name:
		    	</td>
		    	<td>
		    		&nbsp;
		    	</td>
		    	<td>
		    		{{.FirstName}}
		    	</td>
		    </tr><tr>
		    	<td>
		    		Last Name:
		    	</td>
		    	<td>
		    		&nbsp;
		    	</td>
		    	<td>
		    		{{.Surname}}
		    	</td>
		    </tr><tr>
		    	<td>
		    		Email:
		    	</td>
		    	<td>
		    		&nbsp;
		    	</td>
		    	<td>
		    		{{.Email}}
		    	</td>
		    </tr><tr>
		    	<td>
		    		<label for="currentpassword">Current Password</label>
		    	</td>
		    	<td>
		    		&nbsp;
		    	</td>
		    	<td>
		    		<input type="password" id="currentpassword" name="currentpassword"><br>
		    	</td>
		    </tr><tr>
		    	<td>
		    		<label for="password">Password</label>
		    	</td>
		    	<td>
		    		&nbsp;
		    	</td>
		    	<td>
		    		<input type="password" id="password" name="password"><br>
		    	</td>
		    </tr><tr>
			    <td>
			     	<label for="confirmpassword">Confirm Password</label>
			    </td>
			    <td>
			    	&nbsp;
			    </td>
			    <td>
			    	<input type="password" id="confirmpassword" name="confirmpassword"><br>
			    </td>
			</tr><tr>
				<td>
					<button type="submit" value="Register">Update Password</button>
					</form>
				</td>
				<td>
					&nbsp;
				</td>
				<td>
			    	
			    	<form method="POST" action="/user/logout">
						<button type="submit" value="logout">Log Out</button>
					</form>
			    </td>
				
			</tr>
		</table>
    </div>
</div>
{{template "footer"}}