{{template "header" .}}

<div class="container">

    <hr class="featurette-divider">

    <!-- First Featurette -->
    <div class="featurette" >
		<h1 class="featurette-heading">Register</h1>
		<b><i><font color="red">{{.Message}}</font></i></b>
		<table style="margin:0 auto;">
		 	<col width="40%">
  			<col width="20%">
			<tr>
				<form method="POST" action="/user/register">
				<td>
			     	<label for="username">User name</label>
			     </td><td>&nbsp;</td><td>
			    	<input type="text" id="username" name="username" value="{{.Username}}"><br>
		    	</td>
			</tr>
			<tr>
		    	<td>
		    		<label for="firstname">First Name</label>
		    	</td>
		    	<td>
		    		&nbsp;
		    	</td>
		    	<td>
		    		<input type="text" id="firstname" name="firstname" value="{{.FirstName}}"><br>
		    	</td>
		    </tr><tr>
		    	<td>
		    		<label for="lastname">Last Name</label>
		    	</td>
		    	<td>
		    		&nbsp;
		    	</td>
		    	<td>
		    		<input type="text" id="lastname" name="lastname" value="{{.Surname}}"><br>
		    	</td>
		    </tr><tr>
		    	<td>
		    		<label for="email">Email Address</label>
		    	</td>
		    	<td>
		    		&nbsp;
		    	</td>
		    	<td>
		    		<input type="text" id="email" name="email" value="{{.Email}}"><br>
		    	</td>
		    </tr><tr>
		    	<td>
		    		<label for="password">Password</label>
		    	</td>
		    	<td>
		    		&nbsp;
		    	</td>
		    	<td>
		    		<input type="password" id="password" name="password"><br>
		    	</td>

		    </tr><tr>
			    <td>
			     	<label for="confirmpassword">Confirm Password</label>
			    </td>
			    <td>
			    	&nbsp;
			    </td>
			    <td>
			    	<input type="password" id="confirmpassword" name="confirmpassword"><br>
			    </td>
			</tr><tr>
				<td>
					&nbsp;
				</td>
				<td>
					&nbsp;
				</td>
				<td>
			    	<button type="submit" value="Register">Register</button>
			    </td>
				</form>
			</tr>
		</table>
		<br><br><br>
		<table style="margin:0 auto;">
			<tr>
				<td>
		    		<img src="http://imgs.xkcd.com/comics/password_strength.png" alt='password strength' />
		    	</td>

			</tr>
		</table>
	</div>
</div>

{{template "footer"}}