{{template "header" .}}
<!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- Title-->
        <div class="featurette">
           <h2 class="featurette-heading"> Application Admin </h2>
            <p class="lead">Where we will handle adding applications to our database</p>
        </div>

        <hr class="featurette-divider">

        <!-- Current Application List -->
        <div class="featurette">
            <h3 class="featurette-heading"> Create Application </h3><br>
                    <a href="/apps/admin/newapp"> Click here </a>
        </div>

        <hr class="featurette-divider">

        <!-- New Application Button -->
        <div class="featurette">


        <hr class="featurette-divider">

        <!-- Footer -->
        {{template "footer"}}

    </div>
